/*
 *  DEFAULT THEME
 *
 */


// COLORS

    // Main Palette
    $main:          #1565c0;
    $second:        #ffa000;

    // Accents
    $success:       #aeea00;
    $warning:       #ff6d00;

    $background:    #FFF;
    $grey:          #646464;
    $text:          #444;


// FONTS

    $normal:        'Open Sans', sans-serif;
    $font-size:     12px;


// ANGULAR MATERIAL

@import '~@angular/material/theming';

@include mat-core();

// Light Theme
$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-theme:   mat-light-theme($light-primary, $light-accent);

@include angular-material-theme($light-theme);

// Dark Theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.theme-dark {
    @include angular-material-theme($dark-theme);
}
