/*
 * POSITION
 *
 */

.center { text-align: center; }
.absolute { position: absolute; }

.left { text-align: left; }
.left-float { float: left; }
.left-absolute { position: absolute; left: 0; }
.right { text-align: right; }
.right-float { float: right; }
.right-absolute { position: absolute; right: 0; }
